---
import { Image } from 'astro:assets'
import FormattedDate from '@/components/FormattedDate'
import ArrowUp from '@/components/icons/ArrowUp'

const {
	id,
	data: { title, description, pubDate, heroImage, category },
	readTime,
	slug
} = Astro.props
---

<article class='grid'>
	<div class='flex justify-between flex-col md:gap-0'>
		<div class='flex flex-col gap-3'>
			<div class='flex flex-col gap-2'>
				<a class='text-2xl font-semibold -tracking-wider' href={`/blog/post/${slug}/`}>
					{title}
				</a>
			</div>

			<p
				class='overflow-hidden line-clamp-3 text-gray-700 dark:text-white mb-5 font-[400] md:pr-[15%]'
			>
				{description}
			</p>
		</div>
	</div>
	<FormattedDate date={pubDate} />
</article>

<script></script>
