---
import Title from './Title.astro'
import Shape from './icons/Shape.astro'
type Props = {
	title: string
}

const { title } = Astro.props
---

<div class='text-center justify-center gap-2 title'>
	<Title>{title}</Title>

	<div class='text-xl p-4'>
		Insights on web scraping, LLM usage and the state of the web.<br />
		Written by a <a href='https://x.com/lpellis'>real human.</a>
	</div>
</div>
